<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.tomoyukikashiro.qiita</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1A73DCE8-42D3-4F7E-9099-A1E10C55B22A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA65C003-2317-4048-B12A-BF0BE7E321BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tomoyuki Kashiro</string>
	<key>description</key>
	<string>Qiita command bar for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Qiita commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AA65C003-2317-4048-B12A-BF0BE7E321BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>qt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb &quot;{query}&quot;</string>
				<key>subtext</key>
				<string>search &quot;{query}&quot;</string>
				<key>title</key>
				<string>Qiita Search Articles</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A73DCE8-42D3-4F7E-9099-A1E10C55B22A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A73DCE8-42D3-4F7E-9099-A1E10C55B22A</key>
		<dict>
			<key>ypos</key>
			<real>170.0</real>
		</dict>
		<key>AA65C003-2317-4048-B12A-BF0BE7E321BB</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
